*,:after, :before{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: arial;
}

body {
	height: 7000px;
}

html{
	height: 100%;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
/*********************** Header et Logo *****************/


header{
	padding: 20px;
	display: flex;
	justify-content: space-around;
	background: white;
	flex-wrap: wrap;
	height: 130px;
}

header .logo img{
	width: 200px;
	height: 80px;
	display: flex;
	align-items: center;

}

header nav a{
	margin: 0 10px;
	font-size: 18px;
	color: black;
	text-decoration: none;
	font-family: arial;
	font-weight: bold;
}

header nav{
	display: flex;
	align-items: center;
}

.leslogos{
	display: flex;
	flex-direction: column;
	width: 30px;
	left: 30px;
	top: 350px;
	position: fixed;
}

.leslogos img{
	width: 100%;
	height: 100%;
	margin-top: 10px;
=======
>>>>>>> 4-the-work-methodology-block
=======
>>>>>>> 5-the-skills-block
=======
>>>>>>> 6-the-class-presentation-and-teamwork-block
=======
>>>>>>> 7-the-contact-block
/**************** Square et Ligne ****************/

.square {
	height: 12px;
	width: 12px;
	display: inline-block;
	background: #28B7C5;
	margin: 15px 0;
}

.line-1 {
	width: 15px;
	height: 15px;
	background: #28B7C5;
	display: inline-block;
}

.line-2 {
	width: 80px;
	height: 1px;
	background: #28B7C5;
	display: inline-block;
}

.line-3 {
	width: 60px;
	height: 1px;
	background: #28B7C5;
	display: inline-block;
}

.line {
	line-height: 8px;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
/********************* Accueil ********************/

h1{
	font-size: 32px;
	width: 300px;
	font-family: arial;
}

.texte1{
	position: relative;
	top: 150px;
	left: 80px;
	width: 1000px;
}

.texte1 p{
	font-size: 18px;
	width: 400px;
	font-family: arial;
}

.texte1 button{
	border-radius: none;
	width: 150px;
	height: 60px;
=======
/***************** Présentation Classe **************/

.tout4{
=======
/************************ Formulaire *******************/

.tout6{
>>>>>>> 7-the-contact-block
	display: flex;
	align-items: center;
	position: relative;
	top: 200px;
	height: 600px;
}

<<<<<<< HEAD
.photo3{
	position: relative;
	display: flex;
	width: 500;
	height: 400px;
	left: 150px;
	justify-items: flex-end;
}

}.photo3 img{
	width: 100%;
	height: 100%;
}

.texte3 {
	position: relative;
	width: 550px;
=======
.photo5{
	position: relative;
	display: flex;
	width: 600;
	height: 500px;
	left: 70px;
	justify-items: flex-end;
}

.texte5 {
	position: relative;
	width: 600px;
>>>>>>> 7-the-contact-block
	display: flex;
	text-align: left;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	left: 100px;
}
<<<<<<< HEAD
	
.texte3 h2{
	width: 400px;
	font-size: 32px;
	font-family: arial;
}

.tout4 button{
	position: relative;
	width: 200px;
	height: 50px;
>>>>>>> 6-the-class-presentation-and-teamwork-block
	border-color: #28B7C5;
	background: none;
	font-family: arial;
	font-size: 16px;
}

<<<<<<< HEAD
.background{
	background-image: url(background1.png);
	height: 720px;
	background-size: 100%;
/****************** Methodo travail ******************/

.tout2{
	display: flex;
	justify-items: center;

}

.photo2{
	display: flex;
	width: 700px;
	height: 600px;

}

.texte2 {
=======

/******************* Travail d'équipe ***************/

.tout5{
	display: flex;
	height: 800px;
	position: relative;
	justify-items: center;
	top: 250px;
}

.photo4{
	display: flex;
	width: 700px;
	height: 600px;
}

.texte4 {
>>>>>>> 6-the-class-presentation-and-teamwork-block
	width: 500px;
	display: flex;
	text-align: right;
	justify-content: center;
	align-items: flex-end;
	flex-direction: column;
<<<<<<< HEAD
	left: 200px;
	position: relative;
	left: 150px;

}

.texte2 h2{
	width: 400px;
=======

.texte5 h2{
	width: 500px;
>>>>>>> 7-the-contact-block
	font-size: 32px;
	font-family: arial;
}

<<<<<<< HEAD
.texte p{
	position: relative;
	font-size: 18px;
	right: 280px;

}

.bas2 h2{
	font-style: italic;
	font-family: arial;
	font-size: 26px;
}
=======
/********************** Competences *****************/

.tout3{
	display: flex;
	align-content: center;
	flex-direction: column;
}

.lescompetences{
	position: relative;
	display: flex;
	justify-content: space-evenly;
	height: 300px;
	top: 220px;
}

.competence{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.competence img{
	width: 100px;
}

.competence h3{
	font-family: arial;
	font-size: 20px;
}

.competence p{
	font-family: arial;
	font-size: 18px;
}

.tout3 button{
	position: relative;
	left: 590px;
	top: 100px;
	width: 250px;
	height: 60px;
=======
	position: relative;
	left: 140px;
	bottom: 50px;
}

.texte4 button{
	position: relative;
	width: 200px;
	height: 50px;
>>>>>>> 6-the-class-presentation-and-teamwork-block
=======
.texte5 form{
	width: 450px;
}

.texte5 form input{
	width: 350px;
	border-color: #28B7C5;
	background: none;
	font-family: arial;
	font-size: 16px;
	padding: 10px;
	margin-bottom: 6px;
}

.texte5 form textarea{
	width: 350px;
	border-color: #28B7C5;
	background: none;
	font-family: arial;
	font-size: 16px;
	padding: 10px;
	margin-bottom: 6px;
}

.boutons{
	display: flex;
	
}
.boutons input{
	width: 160px;
>>>>>>> 7-the-contact-block
	border-color: #28B7C5;
	background: none;
	font-family: arial;
	font-size: 16px;
<<<<<<< HEAD
}

<<<<<<< HEAD
>>>>>>> 5-the-skills-block
=======
.texte4 h2{
	width: 400px;
	font-size: 32px;
	font-family: arial;
}
>>>>>>> 6-the-class-presentation-and-teamwork-block
=======
	padding: 10px;

}

.boutons .second{
	margin-left: 20px;
}
>>>>>>> 7-the-contact-block
